* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(87, 83, 83);
    
}
h1 {
    font-size: 3rem;
    font-family: 'Mandali';
    color: rgb(99, 99, 94)
}
 

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;;
}

h2 {
    font-family: 'Mandali';
    font-size: 1.25rem;
    margin-top: -1.25rem;
    opacity: .8;
}
main {
    text-align: center;
    margin-top: 10rem;
}