* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(87, 83, 83);
    
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
 

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;;
}
li {
    display: inline-block;
    padding: 4rem;
    font-family: 'Architects Daughter';
}
a {
    font-family: 'Architects Daughter';
    text-decoration: none;
}
h1 {
    font-size: 3rem;
    font-family: 'Mandali';
    color: rgb(99, 99, 94)
}
h2 {
    font-family: 'Mandali';
    font-size: 1.25rem;
    margin-top: -1.25rem;
    opacity: .8;
}
p {
    line-height: 1.5rem;
}
.main-section {
    width: 100%;
    height: 30rem;
    flex: 1;
}
.me-container {
    float: left;
    width: 50%;
    height: auto;
    padding: 3rem;
    margin-top: 1rem;
    margin-left: 2rem;

    

}
.rest {
    float: right;
    width: 40%;
    height: auto;
    padding: 3rem;
    margin-top: 2rem;
    text-align: center;
}
.main-image {
    float: right;
    margin: 2rem;
    border: .2rem solid whitesmoke;

}


.list-2 {
    display: block;
    margin: 0.5rem;
    padding: .5rem;
}
.list-3 {
   position: relative;
   left: .5rem;
   margin: .5rem;

}

.skills-container {
    margin-top: 5rem;
}
footer {
   height: 8rem;
}
h5 {
    float: right;
    position: relative;
    bottom: 5rem;
    right: 3rem;
}

/*footer {
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 10vh;
 
}
.left-footer {
    position: relative;
    float: left;
    width: 40%;
    top: 10rem;
    left: 5rem;
   
    
}
.right-footer {
    position: relative;
    float: right;
    width: 30%;
    top: 10rem;
    
}*/
@media only screen and (max-width: 29.8125rem) {
     
     body {
         width: 100%;
     }   
    
    li {
        display: block;
        width: 100%;
        height: auto;
        margin: auto;
    }
    h1 {
       text-align: center;
    }
    .main-section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .me-container {
        width: 90%;
    }
    .rest {
        width: 90%;
    }
    
   
    h5 {
        display: none;
    }
    .rest {
        margin-right: 10rem;
    }
    .nav li {
        position: relative;
        left: 5rem;

    }

}
