* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif
    
     
    
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;;
}
li {
    display: inline-block;
    padding: 4rem;
    font-family: 'Architects Daughter';
}
h1 {
    font-size: 3rem;
    font-family: 'Mandali';
}
h2 {
    font-family: 'Mandali';
    font-size: 1.25rem;
    margin-top: -1.25rem;
}
.main-section {
    width: 100%;
    border: .1rem solid;
    height: 30rem;
}
.me-container {
    float: left;
    width: 50%;
    height: 20rem;
    padding: 3rem;
    margin-top: 1rem;
    

}
.rest {
    float: right;
    width: 50%;
    height: 20rem;
    padding: 3rem;
    margin-top: 1rem;
    text-align: center;
}
img {
    float: right;
    margin: 2rem;

